@mixin default-grid-row ($alignItems, $paddingVertical) {
  display: grid;
  grid-gap: 1.6rem;
  align-items: $alignItems;
  padding: $paddingVertical 1.6rem;
  min-width: min-content;

  & + & {
    margin-top: 0.4rem;
  }
}

// for parachains page
@mixin auction-bid-grid-row ($alignItems, $paddingVertical: 0) {
  width: 100%;
  min-width: min-content;
  grid-template-columns: 15rem 10rem minmax(15rem, 1fr) 10rem 10rem 11rem;

  @include default-grid-row($alignItems, $paddingVertical);
}

// for gilt page
@mixin gilt-queue-grid-row ($alignItems, $paddingVertical: 0) {
  width: 100%;
  min-width: min-content;
  grid-template-columns: minmax(10rem, 1fr) 12rem 10rem;

  @include default-grid-row($alignItems, $paddingVertical);
}

// for councils page
@mixin councils-grid-row ($alignItems, $paddingVertical: 0) {
  grid-template-columns: minmax(15rem, 1fr) 10rem 5rem 4.4rem;

  @include default-grid-row($alignItems, $paddingVertical);

  @include respond-to($x-small) {
    grid-template-columns: minmax(15rem, 1fr) 4.4rem;

    & > :nth-child(2),
    & > :nth-child(3) {
      display: none;
    }
  }
}

@mixin councils-motions-grid-row ($alignItems, $paddingVertical: 0) {
  grid-template-columns: 10rem minmax(45rem, 1fr) 15rem 11rem 20rem;

  @include default-grid-row($alignItems, $paddingVertical);
}

// for democracy page
@mixin democracy-dispatch-grid-row ($alignItems, $paddingVertical: 0) {
  grid-template-columns: 10rem minmax(45rem, 1fr) 15rem;

  @include default-grid-row($alignItems, $paddingVertical);
}

@mixin democracy-schedule-grid-row ($alignItems, $paddingVertical: 0) {
  grid-template-columns: minmax(45rem, 1fr) 20rem 10rem 10rem 8rem;

  @include default-grid-row($alignItems, $paddingVertical);
}

@mixin democracy-referendum-grid-row ($alignItems, $paddingVertical: 0) {
  grid-template-columns: 8rem minmax(45rem, 1fr) 12rem 10rem 2rem 8rem;

  @include default-grid-row($alignItems, $paddingVertical);
}

@mixin democracy-proposal-grid-row ($alignItems, $paddingVertical: 0) {
  grid-template-columns: 8rem minmax(45rem, 1fr) 20rem 10rem 10rem 12rem;

  @include default-grid-row($alignItems, $paddingVertical);
}

@mixin democracy-external-grid-row ($alignItems, $paddingVertical: 0) {
  grid-template-columns: minmax(45rem, 1fr) minmax(15rem, 1fr) 10rem;

  @include default-grid-row($alignItems, $paddingVertical);
}

// for treasury page
@mixin treasury-proposal-grid-row ($alignItems, $paddingVertical: 0) {
  grid-template-columns: 8rem minmax(15rem, 1fr) minmax(15rem, 1fr) 10rem 10rem;

  @include default-grid-row($alignItems, $paddingVertical);
}

@mixin treasury-tip-grid-row ($alignItems, $paddingVertical: 0) {
  grid-template-columns: minmax(15rem, 1fr) minmax(15rem, 1fr) 10rem 4.4rem;

  @include default-grid-row($alignItems, $paddingVertical);
}

// for bounty page
@mixin bounty-grid-row ($alignItems, $paddingVertical: 0) {
  grid-template-columns: 12rem minmax(15rem, 1fr) 10rem 10rem 15rem 4.4rem;

  @include default-grid-row($alignItems, $paddingVertical);
}

// for evm explorer page
@mixin evm-transaction-with-direction-grid-row ($alignItems, $paddingVertical: 0) {
  grid-template-columns: minmax(20rem, 1fr) repeat(2, minmax(15rem, 1fr)) repeat(3, 10rem) 12rem 4.4rem 13.5rem;

  @include default-grid-row($alignItems, $paddingVertical);
}

@mixin evm-transaction-grid-row ($alignItems, $paddingVertical: 0) {
  grid-template-columns: minmax(20rem, 1fr) repeat(2, minmax(15rem, 1fr)) repeat(3, 10rem) 12rem 13.5rem;

  @include default-grid-row($alignItems, $paddingVertical);
}

@mixin evm-block-grid-row ($alignItems, $paddingVertical: 0) {
  grid-template-columns: 13.5rem minmax(15rem, 1fr) 14rem 16rem;

  @include default-grid-row($alignItems, $paddingVertical);
}

@mixin evm-token-transfer-grid-row ($alignItems, $paddingVertical: 0) {
  grid-template-columns: minmax(20rem, 1fr) repeat(3, minmax(15rem, 1fr)) 10rem 4.4rem;

  @include default-grid-row($alignItems, $paddingVertical);
}

@mixin evm-token-transfer-full-grid-row ($alignItems, $paddingVertical: 0) {
  grid-template-columns: 
    minmax(20rem, 1fr)
    1.6rem
    minmax(15rem, 1fr)
    minmax(15rem, 1fr)
    10rem
    10rem
    13.5rem;

  @include default-grid-row($alignItems, $paddingVertical);
}
